/*
  background: rgb(255, 255, 255); white
  primary: #71fcff; aqua ish
  secondary: rgba(190, 190, 190, 0.77); light gray?
  accent: #00a5ff; slightly lighter blue
  text: black;
*/

.patientInfoContain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patientPhysicians {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
